/* global styles */
/* 
  button colors: rgb(252, 145, 163) 
  background colors: pink
*/

/* used to bounce a button or element */
@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

/* makes an element larger and adds a underline */
@keyframes enlargeWithUnderline {
  from {
    border-bottom: none;
    transform: scale(1);
  }
  to {
    border-bottom: 1px solid black;
    transform: scale(1.3);
  }
}

@keyframes enlargeWithBorder {
  from {
    transform: scale(1);
  }
  to {
    border-radius: 10px;
    background-color: pink;
    transform: scale(1.2);
  }
}

*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;
}

ul a{
  text-decoration: none;
}

h2{
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  line-height: 2; 
  font-size: 50px;
  margin-bottom: 5px;
}

.navBar{
  padding: 15px 0;
  background-color: rgb(252, 145, 163);
  position: fixed;
  width: 100%;
}

.navBar li:hover {
  animation: enlargeWithUnderline 0.3s forwards;
}

.navBar ul{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  gap: 20px;
}

.navBar button{
  background-color: rgb(252, 145, 163);
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.navBar button:hover{
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.home h1{
  font-size: 80px;
  margin-top: 150px;
}

.home p{
  font-size: 30px;
}

.cherryTree{
  width: 800px;
  height: auto;
}

.about, .skills, .projects, .contact{
  padding: 100px;
}

.about{
  background: linear-gradient(to bottom, white, pink);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  height: 900px;
}

.about p{
  font-size: 25px;
}

.about .profilePic{
  width: 500px;
}

.cherryFlowers img{
  position: absolute;
  width: 200px;
  height: 200px;
}

.cherryFlower1{
  margin-top: -850px;
  transform: rotate(-40deg);
}

.cherryFlower2{
  width: 170px;
  margin-top: -450px;
  margin-left: 84%;
  transform: rotate(120deg);
}

.cherryFlower3{
  margin-top: -790px;
  margin-left: 55%;
}

.cherryFlower4{
  margin-top: -350px;
  margin-left: 30%;
  transform: rotate(40deg);
}
.skills{
  height: 500px;
  background: linear-gradient(to bottom, pink,white);
}

.skills .iconContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px 0;
  padding: 0 15px;
}

.icons .iconContainer p{
  font-size: 20px;
  font-weight: bold;
  
}

.skills .icons{
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.skills img{
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}

.icons .iconContainer:hover{
  animation: enlargeWithBorder 0.3s forwards;
}

.projects{
  background: linear-gradient(to bottom, transparent, #eff7ff, pink), url("./imgs/cherryleaves.gif");
  height: 2100px;
}

.projectContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.project{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 2px solid #000;

  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.projects h2{
  display: flex;
  align-items: flex-end;
}

.projects .headerContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerContainer img{
  width: 300px;
}

.project img:not(.icon){
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.project h3{
  font-size: 30px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  line-height: 2; 
}

.project p{
  font-size: 20px;
  margin-bottom: 20px;
  height: 100px;
}

.tools ul{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
}

.tools li{
  background-color: rgb(252, 145, 163);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

.tools li:hover{
  background-color: rgb(207, 104, 122);
  color: white;
  cursor: pointer;
  animation: bounce 0.6s ease;
}

.projects .iconContainer{
  text-align: right;
}

.icon{
  width: 50px;
  height: 50px;
  flex-direction: row;
}

.contact{
  display: flex;
  gap: 100px;
  background-color: pink;
}

.contact h3{
  font-size: 25px;
}

.contact p{
  margin-bottom: 20px;
}

.contactContainer{
  width: 50%;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.formHeaderContainer{
  display: flex;
  gap: 20px;
}

.formHeaderContainer input[type=text]{
  width: 100%;
}

input[type=text]{
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 20px;
}

.formBtn{
  width: 20%;
  padding: 10px 0;
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
  background-color: pink;
  border-radius: 10px;
}

.formBtn:hover{
  cursor: pointer;
  background-color: rgb(252, 145, 163);
  animation: bounce 0.6s ease; /* Apply the bounce animation from the keyframe*/
}

.contact{
  justify-content: center;
}

.contact .btnContainer{
  display: flex;
  align-content: center;
  gap: 30px;
}

.contact .msg{
  font-size: 22px;
  margin-top: 20px;
}

.msgInput{
  height: 200px;
  padding: 10px;
  line-height: 1.5; /* Adjust line height for better readability */
  resize: none;
  border-radius: 5px;
  font-size: 20px;
}

.mailboxPhoto{
  width: 500px;
}

.headContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .icons{
  display: flex;
  align-items: center;
}

.infoGithubIcon{
  width: 50px;
}

.infoLinkedinIcon{
  width: 45px;
}

.footer{
  background: linear-gradient(to bottom, pink, #eff7ff);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 100px 0px 20px 0px;
}

.footer p{
  font-size: 25px;
}

.footer img{
  width: 40px;
  height: 40px;
}
